@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;700&family=Roboto+Slab:wght@300;400;700&family=Pirata+One&display=swap");

$sansserif: "Work Sans", sans-serif;
$serif: "Roboto Slab", serif;
$masthead: "Pirata One", cursive;

$blue: #567b95;
$red: rgb(163, 41, 41);
$darkgrey: #666;
$grey: #999;
$lightgrey: #bbb;
$lightergrey: #ddd;
$lightestgrey: #efefef;

$smfont: 0.7rem;

@mixin flex-across {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

@mixin flex-down {
    display: flex;
    flex-direction: column;
}

@mixin big-button {
    padding: 0.7em 1em;
    background-color: $blue;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0.3em;
}

@mixin bulleted {
    position: relative;

    &::before {
        content: "•";
        position: absolute;
        left: -0.8em;
    }
}
