@import url("https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Roboto+Slab:wght@300;400;700&family=UnifrakturMaguntia&display=swap");

$masthead: "News Cycle", sans-serif;
$serif: "Roboto Slab", serif;
$sansserif: "UnifrakturMaguntia", cursive;
