* {
    transition: color 0.2s ease;
}

body {
    max-width: 1200px;
    padding: 0 2em;
    margin: 0 auto;
    font-family: $serif;
    font-size: 14px;
}

strong {
    font-weight: 700;
}

main {
    @include flex-down;
    padding-bottom: 2em;
    margin-bottom: 3em;
    border-bottom: 4px double #000;

    & > section {
        width: 100%;
    }
}

p {
    color: $darkgrey;
}

figcaption {
    color: $grey;
    font-family: $sansserif;
    font-size: $smfont;
}

article {
    h2 {
        font-family: $serif;
        font-weight: 700;
    }
}

@media (hover: hover) {
    a:hover {
        color: $darkgrey;

        .logo {
            color: black;
        }
    }
}

.logo {
    font-family: $masthead;
}

.other-stories {
    @include flex-across;

    .news {
        width: 60%;
    }

    .editorial {
        width: 40%;
    }
}
