@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;700&family=Alegreya:wght@400;700&family=Pirata+One&display=swap");
html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
figure,
figcaption,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: initial;
  overflow: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

* {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body {
  max-width: 1200px;
  padding: 0 2em;
  margin: 0 auto;
  font-family: "Alegreya", serif;
  font-size: 14px;
}

strong {
  font-weight: 700;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 2em;
  margin-bottom: 3em;
  border-bottom: 4px double #000;
}

main > section {
  width: 100%;
}

p {
  color: #666;
}

figcaption {
  color: #999;
  font-family: "Work Sans", sans-serif;
  font-size: 0.7rem;
}

article h2 {
  font-family: "Alegreya", serif;
  font-weight: 700;
}

@media (hover: hover) {
  a:hover {
    color: #666;
  }
  a:hover .logo {
    color: black;
  }
}

.logo {
  font-family: "Pirata One", cursive;
}

.other-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.other-stories .news {
  width: 60%;
}

.other-stories .editorial {
  width: 40%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .auth-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Work Sans", sans-serif;
  margin: 0.3em 0;
  font-size: 0.7rem;
}

header .auth-menu .menu-and-search,
header .auth-menu .session-buttons {
  width: 16.5em;
}

header .auth-menu .menu-and-search img {
  width: 17px;
}

header .auth-menu .menu-and-search button {
  margin-right: 2em;
}

header .auth-menu .languages {
  text-transform: uppercase;
}

header .auth-menu .languages a {
  padding: 0 1em;
}

header .auth-menu .session-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: space-between;
}

header .auth-menu .session-buttons button {
  padding: 0.7em 1em;
  background-color: #567b95;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.3em;
}

header .masthead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0;
  border-bottom: 1px solid #bbb;
}

header .masthead .date,
header .masthead .weather {
  width: 17em;
  font-family: "Work Sans", sans-serif;
  font-size: 0.8em;
}

header .masthead .weather {
  text-align: right;
}

header .masthead .logo {
  font-size: 4em;
}

header .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.2em 2em;
}

header .main-menu a {
  font-family: "Work Sans", sans-serif;
  font-size: 0.7rem;
  padding: 0.5em;
}

@media (hover: hover) {
  header .main-menu a:hover {
    background: #efefef;
  }
}

footer {
  border-top: 3px double #ddd;
  padding-top: 0.7em;
}

footer .logo {
  font-size: 1.8em;
}

footer .links {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Work Sans", sans-serif;
  margin-top: 1em;
}

footer .links .link-tree {
  -ms-flex-preferred-size: 83%;
      flex-basis: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-right: 1px solid #ddd;
}

footer .links .link-tree ul li:first-child {
  text-transform: uppercase;
  font-weight: 700;
  color: #666;
}

footer .links .link-tree ul {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

footer .links .link-tree ul li {
  margin: 0.4em 0;
  font-size: 0.9em;
}

footer .links .link-tree ul li:first-child {
  margin-bottom: 1em;
}

footer .links .interactions {
  -ms-flex-preferred-size: 17%;
      flex-basis: 17%;
  padding-left: 1em;
}

footer .links .interactions ul:first-of-type {
  border-bottom: 1px solid #ddd;
}

footer .links .interactions ul:first-of-type li:first-child {
  text-transform: uppercase;
  font-weight: 700;
  color: #666;
}

footer .links .interactions li {
  margin: 0.4em 0;
  font-size: 0.9em;
}

footer .links .interactions .icon-link {
  padding: 0.2em 0;
  font-weight: 700;
  font-size: 1.1em;
}

footer .links .interactions .icon-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .links .interactions .icon-link a img {
  width: 20px;
  margin-right: 0.5em;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Work Sans", sans-serif;
  font-size: 0.8em;
}

footer .copyright ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em 0;
}

footer .copyright div {
  color: #999;
}

footer .copyright div a {
  color: #567b95;
}

.features-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  border-bottom: 4px double black;
  padding: 0.4em 0;
}

.features-banner .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  font-size: 0.9em;
  border-left: 1px solid #ddd;
}

.features-banner .feature:first-child {
  border-left: none;
}

.features-banner .feature h2 {
  font-size: 1.2em;
}

.features-banner .feature img {
  width: 40px;
  height: 40px;
  padding: 0 1em;
}

.main-headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 1.5em 0;
}

.main-headlines .main-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em 1em 1em 0;
  width: 75%;
  border-right: 1px solid #ddd;
  margin-right: -1px;
}

.main-headlines .main-story .text {
  width: 80%;
  margin-right: 3em;
}

.main-headlines .main-story .text * {
  margin-bottom: 0.5rem;
}

.main-headlines .main-story .text h2 {
  font-size: 1.7em;
}

.main-headlines .main-story .text p {
  position: relative;
}

.main-headlines .main-story .text p::before {
  content: "•";
  position: absolute;
  left: -0.8em;
}

.main-headlines .other-main-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 25%;
  border-left: 1px solid #ddd;
  padding-left: 1em;
}

.main-headlines .other-main-stories .main {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
}

.main-headlines .other-main-stories .main h2 {
  font-size: 1.2em;
}

.main-headlines .other-main-stories .sub {
  padding-top: 1em;
  font-size: 0.9em;
  font-family: "Work Sans", sans-serif;
}

.main-headlines .other-main-stories .sub * {
  margin-bottom: 0.6em;
}

.main-headlines .other-main-stories .sub h2,
.main-headlines .other-main-stories .sub h3 {
  font-weight: 700;
}

.main-headlines .other-main-stories .sub .live-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a32929;
}

.main-headlines .other-main-stories .sub .live-alert h2 {
  text-transform: uppercase;
}

.main-headlines .other-main-stories .sub .live-alert span {
  margin-left: 1em;
  font-size: 0.8em;
}

.main-headlines .other-main-stories .sub p {
  position: relative;
  margin-left: 0.5em;
}

.main-headlines .other-main-stories .sub p::before {
  content: "•";
  position: absolute;
  left: -0.8em;
}

.other-stories > .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 1em;
  border-right: 1px solid #ddd;
  width: 100%;
}

.other-stories > .news .article-row {
  border-top: 1px solid black;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.other-stories > .news .article-row > article,
.other-stories > .news .article-row > div,
.other-stories > .news .article-row > a {
  padding-left: 1em;
  padding-right: 1em;
  border-left: 1px solid #ddd;
}

.other-stories > .news .article-row > article h2,
.other-stories > .news .article-row > div h2,
.other-stories > .news .article-row > a h2 {
  margin-bottom: 0.4em;
}

.other-stories > .news .article-row > article.w1-2,
.other-stories > .news .article-row > div.w1-2,
.other-stories > .news .article-row > a.w1-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.other-stories > .news .article-row > article.w1-2 h2,
.other-stories > .news .article-row > div.w1-2 h2,
.other-stories > .news .article-row > a.w1-2 h2 {
  font-size: 1.2em;
}

.other-stories > .news .article-row > article.w1-4,
.other-stories > .news .article-row > div.w1-4,
.other-stories > .news .article-row > a.w1-4 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.other-stories > .news .article-row > article.w3-4,
.other-stories > .news .article-row > div.w3-4,
.other-stories > .news .article-row > a.w3-4 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.other-stories > .news .article-row > article.w3-4 h2,
.other-stories > .news .article-row > div.w3-4 h2,
.other-stories > .news .article-row > a.w3-4 h2 {
  font-size: 1.2em;
}

.other-stories > .news .article-row > article.w1-1,
.other-stories > .news .article-row > div.w1-1,
.other-stories > .news .article-row > a.w1-1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.other-stories > .news .article-row > article.w1-1 h2,
.other-stories > .news .article-row > div.w1-1 h2,
.other-stories > .news .article-row > a.w1-1 h2 {
  font-size: 1.2em;
}

.other-stories > .news .article-row > article:first-child,
.other-stories > .news .article-row > div:first-child,
.other-stories > .news .article-row > a:first-child {
  padding-left: 0;
  border-left: none;
}

.other-stories > .news .article-row > article:last-child,
.other-stories > .news .article-row > div:last-child,
.other-stories > .news .article-row > a:last-child {
  padding-right: 0;
}

.other-stories > .news .article-row > article.with-image,
.other-stories > .news .article-row > div.with-image,
.other-stories > .news .article-row > a.with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.other-stories > .news .article-row > article.with-image .main,
.other-stories > .news .article-row > div.with-image .main,
.other-stories > .news .article-row > a.with-image .main {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.other-stories > .news .article-row > article.with-image > a,
.other-stories > .news .article-row > div.with-image > a,
.other-stories > .news .article-row > a.with-image > a {
  margin-left: 1em;
  width: 40%;
}

.other-stories > .news .article-row > article.with-image > figure,
.other-stories > .news .article-row > div.with-image > figure,
.other-stories > .news .article-row > a.with-image > figure {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.other-stories > .news .article-row > article.with-image .sub,
.other-stories > .news .article-row > div.with-image .sub,
.other-stories > .news .article-row > a.with-image .sub {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-left: 1em;
}

.other-stories > .news .article-row > article.with-image .sub h2,
.other-stories > .news .article-row > div.with-image .sub h2,
.other-stories > .news .article-row > a.with-image .sub h2 {
  font-size: 1em;
}

.other-stories > .news .article-row > article.with-image .caption,
.other-stories > .news .article-row > div.with-image .caption,
.other-stories > .news .article-row > a.with-image .caption {
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

.other-stories > .news .article-row > article.with-image .caption + *,
.other-stories > .news .article-row > div.with-image .caption + *,
.other-stories > .news .article-row > a.with-image .caption + * {
  padding-top: 1em;
}

.other-stories > .news .article-row > article .caption,
.other-stories > .news .article-row > div .caption,
.other-stories > .news .article-row > a .caption {
  border-left: none;
}

.other-stories > .news .article-row > article .caption p,
.other-stories > .news .article-row > div .caption p,
.other-stories > .news .article-row > a .caption p {
  color: #999;
  font-size: 0.8em;
}

.other-stories > .news .article-row > article .caption p.credit,
.other-stories > .news .article-row > div .caption p.credit,
.other-stories > .news .article-row > a .caption p.credit {
  margin-top: 0.4em;
  color: #bbb;
  font-size: 0.7em;
}

.other-stories > .editorial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1em;
  border-top: 4px double black;
}

.other-stories > .editorial > section > h2,
.other-stories > .editorial > section > a > h2 {
  font-size: 1.3em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.other-stories > .editorial .columnists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 0.8em;
}

.other-stories > .editorial .columnists > div {
  padding-left: 0.8em;
}

.other-stories > .editorial .columnists > div:first-child {
  border-right: 1px solid #ddd;
  padding-left: 0;
  padding-right: 0.8em;
}

.other-stories > .editorial .opinion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.other-stories > .editorial .opinion article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #ddd;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.other-stories > .editorial .opinion article .byline {
  color: #999;
}

.other-stories > .editorial .opinion article.with-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.other-stories > .editorial .opinion article.with-image > img,
.other-stories > .editorial .opinion article.with-image > a {
  width: 50%;
  margin-left: 1em;
}

.other-stories > .editorial .opinion article .article-info * {
  margin-bottom: 0.4em;
}

.other-stories > .editorial .opinion article .article-info.with-image img {
  float: right;
  width: 30px;
  border-radius: 100%;
}
/*# sourceMappingURL=style.css.map */