@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;700&family=Roboto+Slab:wght@300;400;700&family=Pirata+One&display=swap");
html,
body,
header,
nav,
h1,
a,
ul,
li,
strong,
main,
button,
i,
section,
img,
div,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
label,
input,
textarea,
span,
article,
footer,
time,
figure,
figcaption,
small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  background: initial;
  overflow: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  max-width: 1200px;
  padding: 0 2em;
  margin: 0 auto;
  font-family: "Roboto Slab", serif;
  font-size: 0.9em;
}

strong {
  font-weight: 700;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > section {
  width: 100%;
}

p {
  color: #666;
}

figcaption {
  color: #999;
  font-family: "Work Sans", sans-serif;
  font-size: 0.7rem;
}

article h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.logo {
  font-family: "Pirata One", cursive;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .auth-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Work Sans", sans-serif;
  margin: 0.3em 0;
  font-size: 0.7rem;
}

header .auth-menu .menu-and-search,
header .auth-menu .session-buttons {
  width: 16.5em;
}

header .auth-menu .languages {
  text-transform: uppercase;
}

header .auth-menu .languages a {
  padding: 0 1em;
}

header .auth-menu .session-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-content: space-between;
}

header .auth-menu .session-buttons button {
  padding: 0.7em 1em;
  background-color: #567b95;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.3em;
}

header .masthead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 0;
  border-bottom: 1px solid #bbb;
}

header .masthead .date,
header .masthead .weather {
  width: 17em;
  font-family: "Work Sans", sans-serif;
  font-size: 0.8em;
}

header .masthead .weather {
  text-align: right;
}

header .masthead .logo {
  font-size: 4em;
}

header .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.2em 2em;
}

header .main-menu a {
  font-family: "Work Sans", sans-serif;
  font-size: 0.7rem;
  padding: 0.5em;
}

@media (hover: hover) {
  header .main-menu a:hover {
    background: #efefef;
  }
}

.features-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid black;
  border-bottom: 4px double black;
  padding: 0.4em 0;
}

.features-banner .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  font-size: 0.8em;
  border-left: 1px solid #ddd;
}

.features-banner .feature:first-child {
  border-left: none;
}

.features-banner .feature h2 {
  font-size: 1.2em;
}

.features-banner .feature img {
  width: 40px;
  height: 40px;
  padding: 0 1em;
}

.main-headlines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1.5em 0;
}

.main-headlines .main-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 1em 1em 0;
  width: 75%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-headlines .main-story .text {
  width: 80%;
  margin-right: 3em;
}

.main-headlines .main-story .text * {
  margin-bottom: 0.5rem;
}

.main-headlines .main-story .text h2 {
  font-size: 1.7em;
}

.main-headlines .main-story .text p {
  position: relative;
}

.main-headlines .main-story .text p::before {
  content: "•";
  position: absolute;
  left: -0.8em;
}

.main-headlines .other-main-stories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 25%;
  border-left: 1px solid #ddd;
  padding-left: 1em;
}

.main-headlines .other-main-stories .main {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
}

.main-headlines .other-main-stories .main h2 {
  font-size: 1.2em;
}

.main-headlines .other-main-stories .sub {
  padding-top: 1em;
  font-size: 0.9em;
  font-family: "Work Sans", sans-serif;
}

.main-headlines .other-main-stories .sub * {
  margin-bottom: 0.6em;
}

.main-headlines .other-main-stories .sub h2,
.main-headlines .other-main-stories .sub h3 {
  font-weight: 700;
}

.main-headlines .other-main-stories .sub .live-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #a32929;
}

.main-headlines .other-main-stories .sub .live-alert h2 {
  text-transform: uppercase;
}

.main-headlines .other-main-stories .sub .live-alert span {
  margin-left: 1em;
  font-size: 0.8em;
}

.main-headlines .other-main-stories .sub p {
  position: relative;
  margin-left: 0.5em;
}

.main-headlines .other-main-stories .sub p::before {
  content: "•";
  position: absolute;
  left: -0.8em;
}
/*# sourceMappingURL=style.css.map */